{% extends 'layouts/base.html'%}

{% block content %}

<h1>Projects</h1>
    {% for project in projects %} 
<article class="card">
    <a href="{% url 'project_detail' project.id %}"><h1>{{project.name}}</h1></a>

       <form method="post" action="{% url 'delete_project' %}"> 
        {% csrf_token %}
        <input type="text" hidden name="id" value='{{project.id}}'>
        
        <input type="submit" value="Eliminar">
    
    </form>
    <button>Update</button>

    </article>
{% endfor %}

{% endblock %}